04_MOBILE-CONTENT/Course/LESSON_TEMPLATE.md/2-TEMPLATES/template-2-telegram-post-logging.json
{
  "name": "Telegram Post Automation + Logging - Service 2",
  "nodes": [
    {
      "parameters": {
        "minute": 0,
        "hour": "9",
        "dayOfWeek": [],
        "dayOfMonth": [],
        "monthOfYear": []
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "fromJSON",
        "jsonData": "{\n  \"content\": \"Check Google Sheets for post content\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "name": "Get Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyType": "json",
        "body": {
          "chat_id": "{{ $env.TELEGRAM_CHANNEL_ID }}",
          "text": "{{ $node[\"Get Post Data\"].json.content }}",
          "parse_mode": "HTML"
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "mode": "fromJSON",
        "jsonData": "{\n  \"post_id\": \"{{ $node[\\\"Send to Telegram\\\"].json.result.message_id }}\",\n  \"posted_at\": \"{{ $now }}\",\n  \"status\": \"posted\"\n}"
      },
      "name": "Log Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Post Data", "type": "main", "index": 0}]]
    },
    "Get Post Data": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    },
    "Send to Telegram": {
      "main": [[{"node": "Log Post", "type": "main", "index": 0}]]
    }
  }
}
